@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Material/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../fonts/Material/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/Material/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/Material/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr9INifKjd1RJ3NxxEi9Cy2w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'), url(https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr4-67659ICLY8bMrYhtePPA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSo_WB_cotcEMUw1LsIE8mM.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcZSnX671uNZIV63UdXh3Mg0.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wpr-y7CP8YvcHYdGV61pt7QTE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'), url(https://fonts.gstatic.com/s/titilliumweb/v6/anMUvcNT0H1YN4FII8wprxP6Eu1_xfSBSoi9uie1FdE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


nav ul a,
nav .brand-logo {
	color: #444;
}

.side-nav .user-view {
	height: 150px;
	padding-top: 16px;
}
	.side-nav .user-view .background img {
		width: 100%;
	}
	.side-nav .user-view a {
		margin-top: 11px;
	}
		.side-nav .user-view .circle {
			border: solid 1px white;
		}
		.side-nav .user-view .name {
			font-size: 21px;
			text-shadow: 0px 0px 5px #000;
		}

p {
	line-height: 2rem;
}

input[type=range]::-webkit-slider-thumb {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: -12px 0 0 0;
  -webkit-transition: .2s;
  transition: .2s;
}

.button-collapse {
	color: white;
}

.parallax-container {
	height: auto;
	color: rgba(255,255,255,.9);
	transition: all 0.35s;
}
.parallax-container .section {
	width: 100%;
}

@media only screen and (max-width : 992px) {
	.parallax-container .section {
		position: relative;
		top: 40%;
	}
	#index-banner .section {
		top: 10%;
	}
}

@media only screen and (max-width : 600px) {
	#index-banner .section {
		top: 0;
	}
}

.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

footer.page-footer {
	margin: 0;
}

#historyModal {
	max-height: 75%;
}

	#historyContainer h4, #historyContainer h3 {
		font-size: 1.1rem;
	}
	#historyModal hr {
		border: solid 1px rgba(0, 0, 0, 0.54);
	}

.opacity-25 {
	background-color: rgba(255, 255, 255, 0.25) !important;
}

.opacity-50 {
	background-color: rgba(255, 255, 255, 0.5) !important;
}

.opacity-75 {
	background-color: rgba(255, 255, 255, 0.75) !important;
}

.full-width {
	width:  100%;
}

.width-95 {
	width:  95%;
}

.width-90 {
	width:  90%;
}

.width-85 {
	width:  85%;
}

.width-80 {
	width:  80%;
}

.left-text {
	text-align: left !important;
}

.right-text {
	text-align: right !important;
}

.center-text {
	text-align: center !important;
}

.lever.red::after {
	background-color: #F44336 !important;
}
.lever.red.accent-1::after {
	background-color: #FF8A80 !important;
}
.lever.red.accent-2::after {
	background-color: #FF5252 !important;
}
.lever.red.accent-3::after {
	background-color: #FF1744 !important;
}
.lever.red.accent-4::after {
	background-color: #D50000 !important;
}
.lever.pink::after {
	background-color: #e91e63 !important;
}
.lever.pink.accent-1::after {
	background-color: #ff80ab !important;
}
.lever.pink.accent-2::after {
	background-color: #ff4081 !important;
}
.lever.pink.accent-3::after {
	background-color: #f50057 !important;
}
.lever.pink.accent-4::after {
	background-color: #c51162 !important;
}
.lever.purple::after {
	background-color: #9c27b0 !important;
}
.lever.purple.accent-1::after {
	background-color: #ea80fc !important;
}
.lever.purple.accent-2::after {
	background-color: #e040fb !important;
}
.lever.purple.accent-3::after {
	background-color: #d500f9 !important;
}
.lever.purple.accent-4::after {
	background-color: #aa00ff !important;
}
.lever.deep-purple::after {
	background-color: #673ab7 !important;
}
.lever.deep-purple.accent-1::after {
	background-color: #b388ff !important;
}
.lever.deep-purple.accent-2::after {
	background-color: #7c4dff !important;
}
.lever.deep-purple.accent-3::after {
	background-color: #651fff !important;
}
.lever.deep-purple.accent-4::after {
	background-color: #6200ea !important;
}
.lever.indigo::after {
	background-color: #3f51b5 !important;
}
.lever.indigo.accent-1::after {
	background-color: #8c9eff !important;
}
.lever.indigo.accent-2::after {
	background-color: #536dfe !important;
}
.lever.indigo.accent-3::after {
	background-color: #3d5afe !important;
}
.lever.indigo.accent-4::after {
	background-color: #304ffe !important;
}
.lever.blue::after {
	background-color: #2196F3 !important;
}
.lever.blue.accent-1::after {
	background-color: #82B1FF !important;
}
.lever.blue.accent-2::after {
	background-color: #448AFF !important;
}
.lever.blue.accent-3::after {
	background-color: #2979FF !important;
}
.lever.blue.accent-4::after {
	background-color: #2962FF !important;
}
.lever.light-blue::after {
	background-color: #03a9f4 !important;
}
.lever.light-blue.accent-1::after {
	background-color: #80d8ff !important;
}
.lever.light-blue.accent-2::after {
	background-color: #40c4ff !important;
}
.lever.light-blue.accent-3::after {
	background-color: #00b0ff !important;
}
.lever.light-blue.accent-4::after {
	background-color: #0091ea !important;
}
.lever.cyan::after {
	background-color: #00bcd4 !important;
}
.lever.cyan.accent-1::after {
	background-color: #84ffff !important;
}
.lever.cyan.accent-2::after {
	background-color: #18ffff !important;
}
.lever.cyan.accent-3::after {
	background-color: #00e5ff !important;
}
.lever.cyan.accent-4::after {
	background-color: #00b8d4 !important;
}
.lever.teal::after {
	background-color: #009688 !important;
}
.lever.teal.accent-1::after {
	background-color: #a7ffeb !important;
}
.lever.teal.accent-2::after {
	background-color: #64ffda !important;
}
.lever.teal.accent-3::after {
	background-color: #1de9b6 !important;
}
.lever.teal.accent-4::after {
	background-color: #00bfa5 !important;
}
.lever.green::after {
	background-color: #4CAF50 !important;
}
.lever.green.accent-1::after {
	background-color: #B9F6CA !important;
}
.lever.green.accent-2::after {
	background-color: #69F0AE !important;
}
.lever.green.accent-3::after {
	background-color: #00E676 !important;
}
.lever.green.accent-4::after {
	background-color: #00C853 !important;
}
.lever.light-green::after {
	background-color: #8bc34a !important;
}
.lever.light-green.accent-1::after {
	background-color: #ccff90 !important;
}
.lever.light-green.accent-2::after {
	background-color: #b2ff59 !important;
}
.lever.light-green.accent-3::after {
	background-color: #76ff03 !important;
}
.lever.light-green.accent-4::after {
	background-color: #64dd17 !important;
}
.lever.lime::after {
	background-color: #cddc39 !important;
}
.lever.lime.accent-1::after {
	background-color: #f4ff81 !important;
}
.lever.lime.accent-2::after {
	background-color: #eeff41 !important;
}
.lever.lime.accent-3::after {
	background-color: #c6ff00 !important;
}
.lever.lime.accent-4::after {
	background-color: #aeea00 !important;
}
.lever.yellow::after {
	background-color: #ffeb3b !important;
}
.lever.yellow.accent-1::after {
	background-color: #ffff8d !important;
}
.lever.yellow.accent-2::after {
	background-color: #ffff00 !important;
}
.lever.yellow.accent-3::after {
	background-color: #ffea00 !important;
}
.lever.yellow.accent-4::after {
	background-color: #ffd600 !important;
}
.lever.amber::after {
	background-color: #ffc107 !important;
}
.lever.amber.accent-1::after {
	background-color: #ffe57f !important;
}
.lever.amber.accent-2::after {
	background-color: #ffd740 !important;
}
.lever.amber.accent-3::after {
	background-color: #ffc400 !important;
}
.lever.amber.accent-4::after {
	background-color: #ffab00 !important;
}
.lever.orange::after {
	background-color: #ff9800 !important;
}
.lever.orange.accent-1::after {
	background-color: #ffd180 !important;
}
.lever.orange.accent-2::after {
	background-color: #ffab40 !important;
}
.lever.orange.accent-3::after {
	background-color: #ff9100 !important;
}
.lever.orange.accent-4::after {
	background-color: #ff6d00 !important;
}
.lever.deep-orange::after {
	background-color: #ff5722 !important;
}
.lever.deep-orange.accent-1::after {
	background-color: #ff9e80 !important;
}
.lever.deep-orange.accent-2::after {
	background-color: #ff6e40 !important;
}
.lever.deep-orange.accent-3::after {
	background-color: #ff3d00 !important;
}
.lever.deep-orange.accent-4::after {
	background-color: #dd2c00 !important;
}
.lever.brown::after {
	background-color: #795548 !important;
}
.lever.blue-grey::after {
	background-color: #607d8b !important;
}
.lever.grey::after {
	background-color: #9e9e9e !important;
}
.lever.black::after {
	background-color: #000000 !important;
}
.lever.white::after {
	background-color: #FFFFFF !important;
}
.lever.transparent::after {
	background-color: transparent !important;
}

.switch label input[type=checkbox]:not(:checked) + .lever {
	background-color: rgba(0, 0, 0, 0.38) !important;
}

.switch label input[type=checkbox]:not(:checked) + .lever::after {
	background-color: #F1F1F1 !important;
}

input[type=range].red::-webkit-slider-thumb {
	background-color: #F44336 !important;
}
input[type=range].red.accent-1::-webkit-slider-thumb {
	background-color: #FF8A80 !important;
}
input[type=range].red.accent-2::-webkit-slider-thumb {
	background-color: #FF5252 !important;
}
input[type=range].red.accent-3::-webkit-slider-thumb {
	background-color: #FF1744 !important;
}
input[type=range].red.accent-4::-webkit-slider-thumb {
	background-color: #D50000 !important;
}
input[type=range].pink::-webkit-slider-thumb {
	background-color: #e91e63 !important;
}
input[type=range].pink.accent-1::-webkit-slider-thumb {
	background-color: #ff80ab !important;
}
input[type=range].pink.accent-2::-webkit-slider-thumb {
	background-color: #ff4081 !important;
}
input[type=range].pink.accent-3::-webkit-slider-thumb {
	background-color: #f50057 !important;
}
input[type=range].pink.accent-4::-webkit-slider-thumb {
	background-color: #c51162 !important;
}
input[type=range].purple::-webkit-slider-thumb {
	background-color: #9c27b0 !important;
}
input[type=range].purple.accent-1::-webkit-slider-thumb {
	background-color: #ea80fc !important;
}
input[type=range].purple.accent-2::-webkit-slider-thumb {
	background-color: #e040fb !important;
}
input[type=range].purple.accent-3::-webkit-slider-thumb {
	background-color: #d500f9 !important;
}
input[type=range].purple.accent-4::-webkit-slider-thumb {
	background-color: #aa00ff !important;
}
input[type=range].deep-purple::-webkit-slider-thumb {
	background-color: #673ab7 !important;
}
input[type=range].deep-purple.accent-1::-webkit-slider-thumb {
	background-color: #b388ff !important;
}
input[type=range].deep-purple.accent-2::-webkit-slider-thumb {
	background-color: #7c4dff !important;
}
input[type=range].deep-purple.accent-3::-webkit-slider-thumb {
	background-color: #651fff !important;
}
input[type=range].deep-purple.accent-4::-webkit-slider-thumb {
	background-color: #6200ea !important;
}
input[type=range].indigo::-webkit-slider-thumb {
	background-color: #3f51b5 !important;
}
input[type=range].indigo.accent-1::-webkit-slider-thumb {
	background-color: #8c9eff !important;
}
input[type=range].indigo.accent-2::-webkit-slider-thumb {
	background-color: #536dfe !important;
}
input[type=range].indigo.accent-3::-webkit-slider-thumb {
	background-color: #3d5afe !important;
}
input[type=range].indigo.accent-4::-webkit-slider-thumb {
	background-color: #304ffe !important;
}
input[type=range].blue::-webkit-slider-thumb {
	background-color: #2196F3 !important;
}
input[type=range].blue.accent-1::-webkit-slider-thumb {
	background-color: #82B1FF !important;
}
input[type=range].blue.accent-2::-webkit-slider-thumb {
	background-color: #448AFF !important;
}
input[type=range].blue.accent-3::-webkit-slider-thumb {
	background-color: #2979FF !important;
}
input[type=range].blue.accent-4::-webkit-slider-thumb {
	background-color: #2962FF !important;
}
input[type=range].light-blue::-webkit-slider-thumb {
	background-color: #03a9f4 !important;
}
input[type=range].light-blue.accent-1::-webkit-slider-thumb {
	background-color: #80d8ff !important;
}
input[type=range].light-blue.accent-2::-webkit-slider-thumb {
	background-color: #40c4ff !important;
}
input[type=range].light-blue.accent-3::-webkit-slider-thumb {
	background-color: #00b0ff !important;
}
input[type=range].light-blue.accent-4::-webkit-slider-thumb {
	background-color: #0091ea !important;
}
input[type=range].cyan::-webkit-slider-thumb {
	background-color: #00bcd4 !important;
}
input[type=range].cyan.accent-1::-webkit-slider-thumb {
	background-color: #84ffff !important;
}
input[type=range].cyan.accent-2::-webkit-slider-thumb {
	background-color: #18ffff !important;
}
input[type=range].cyan.accent-3::-webkit-slider-thumb {
	background-color: #00e5ff !important;
}
input[type=range].cyan.accent-4::-webkit-slider-thumb {
	background-color: #00b8d4 !important;
}
input[type=range].teal::-webkit-slider-thumb {
	background-color: #009688 !important;
}
input[type=range].teal.accent-1::-webkit-slider-thumb {
	background-color: #a7ffeb !important;
}
input[type=range].teal.accent-2::-webkit-slider-thumb {
	background-color: #64ffda !important;
}
input[type=range].teal.accent-3::-webkit-slider-thumb {
	background-color: #1de9b6 !important;
}
input[type=range].teal.accent-4::-webkit-slider-thumb {
	background-color: #00bfa5 !important;
}
input[type=range].green::-webkit-slider-thumb {
	background-color: #4CAF50 !important;
}
input[type=range].green.accent-1::-webkit-slider-thumb {
	background-color: #B9F6CA !important;
}
input[type=range].green.accent-2::-webkit-slider-thumb {
	background-color: #69F0AE !important;
}
input[type=range].green.accent-3::-webkit-slider-thumb {
	background-color: #00E676 !important;
}
input[type=range].green.accent-4::-webkit-slider-thumb {
	background-color: #00C853 !important;
}
input[type=range].light-green::-webkit-slider-thumb {
	background-color: #8bc34a !important;
}
input[type=range].light-green.accent-1::-webkit-slider-thumb {
	background-color: #ccff90 !important;
}
input[type=range].light-green.accent-2::-webkit-slider-thumb {
	background-color: #b2ff59 !important;
}
input[type=range].light-green.accent-3::-webkit-slider-thumb {
	background-color: #76ff03 !important;
}
input[type=range].light-green.accent-4::-webkit-slider-thumb {
	background-color: #64dd17 !important;
}
input[type=range].lime::-webkit-slider-thumb {
	background-color: #cddc39 !important;
}
input[type=range].lime.accent-1::-webkit-slider-thumb {
	background-color: #f4ff81 !important;
}
input[type=range].lime.accent-2::-webkit-slider-thumb {
	background-color: #eeff41 !important;
}
input[type=range].lime.accent-3::-webkit-slider-thumb {
	background-color: #c6ff00 !important;
}
input[type=range].lime.accent-4::-webkit-slider-thumb {
	background-color: #aeea00 !important;
}
input[type=range].yellow::-webkit-slider-thumb {
	background-color: #ffeb3b !important;
}
input[type=range].yellow.accent-1::-webkit-slider-thumb {
	background-color: #ffff8d !important;
}
input[type=range].yellow.accent-2::-webkit-slider-thumb {
	background-color: #ffff00 !important;
}
input[type=range].yellow.accent-3::-webkit-slider-thumb {
	background-color: #ffea00 !important;
}
input[type=range].yellow.accent-4::-webkit-slider-thumb {
	background-color: #ffd600 !important;
}
input[type=range].amber::-webkit-slider-thumb {
	background-color: #ffc107 !important;
}
input[type=range].amber.accent-1::-webkit-slider-thumb {
	background-color: #ffe57f !important;
}
input[type=range].amber.accent-2::-webkit-slider-thumb {
	background-color: #ffd740 !important;
}
input[type=range].amber.accent-3::-webkit-slider-thumb {
	background-color: #ffc400 !important;
}
input[type=range].amber.accent-4::-webkit-slider-thumb {
	background-color: #ffab00 !important;
}
input[type=range].orange::-webkit-slider-thumb {
	background-color: #ff9800 !important;
}
input[type=range].orange.accent-1::-webkit-slider-thumb {
	background-color: #ffd180 !important;
}
input[type=range].orange.accent-2::-webkit-slider-thumb {
	background-color: #ffab40 !important;
}
input[type=range].orange.accent-3::-webkit-slider-thumb {
	background-color: #ff9100 !important;
}
input[type=range].orange.accent-4::-webkit-slider-thumb {
	background-color: #ff6d00 !important;
}
input[type=range].deep-orange::-webkit-slider-thumb {
	background-color: #ff5722 !important;
}
input[type=range].deep-orange.accent-1::-webkit-slider-thumb {
	background-color: #ff9e80 !important;
}
input[type=range].deep-orange.accent-2::-webkit-slider-thumb {
	background-color: #ff6e40 !important;
}
input[type=range].deep-orange.accent-3::-webkit-slider-thumb {
	background-color: #ff3d00 !important;
}
input[type=range].deep-orange.accent-4::-webkit-slider-thumb {
	background-color: #dd2c00 !important;
}
input[type=range].brown::-webkit-slider-thumb {
	background-color: #795548 !important;
}
input[type=range].blue-grey::-webkit-slider-thumb {
	background-color: #607d8b !important;
}
input[type=range].grey::-webkit-slider-thumb {
	background-color: #9e9e9e !important;
}
input[type=range].black::-webkit-slider-thumb {
	background-color: #000000 !important;
}
input[type=range].white::-webkit-slider-thumb {
	background-color: #FFFFFF !important;
}
input[type=range].transparent::-webkit-slider-thumb {
	background-color: transparent !important;
}