.side-nav li .collapsible-header {
    color: rgba(0, 0, 0, 0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

    #character-counters li {
        position: relative
    }
        .reset-charges {
            position: absolute;
            top: 6px;
            right: 1em;
            line-height: 48px;
            padding-left: 1em;
            padding-right: 1em;
        }
            .reset-charges i {
                line-height: 36px !important;
            }

.tabsContainer {

}    
    .tabsContainer a {
        color:  rgba(255, 255, 255, 0.5) !important;
    }
    .tabsContainer a.active {
        color:  white !important;
    }
    .tabsContainer li.indicator {
        background-color: white !important;
    }

.carousel .carousel-item {
  min-height: 200px;
  height: auto;
}

.statsContainer h4 {
    text-shadow: 0px 0px 3px #000;
    margin: 0;
}

hr {
    margin-bottom: 1em;
    border:  solid 1px;
}

.statsContainer .card-panel {
    padding: 1em;
    padding-bottom: 0.25em;
}

.statsContainer .row {
    margin-bottom: 0.5em;
}

.statsContainer .modal-trigger {
    color: white;
}

.defensesList {

}
    .defensesList>.row:last-of-type {
        margin-bottom: 0;
    }
    .defensesList span {
        font-size: 1.5em;
    }


.abilitiesList {

}
    .abilitiesList>.row:last-of-type {
        margin-bottom: 0;
    }
    .abilitiesList span {
        font-size: 1.5em;
    }

.skillsList {

}
    .skillsList>.row:last-of-type {
        margin-bottom: 0;
    }
    .skillsList .row {
        margin-bottom: 4px;
    }
    .skillsList span {
        font-size: 1.2em;
    }
    .skillsList .trained {

    }
    .skillsList .untrained span {
        color: rgba(255,255,255, 0.4) !important;
    }

.powersContainer {
    padding: 0 0.3em !important;
}
    .powersContainer .collapsible li {
        position: relative;
    }
    .powersContainer>.collapsible>li>.collapsible-header {
        font-size: 1.25em;
    }
    .powersContainer .powerSwitch {
        position: absolute;
        top: 1em;
        right: 0em;
    }
    .powersContainer .collapsible-body {
        padding-top: 0.5em;
        padding-bottom: 1em;
    }
    .powersContainer li.collection-item {
        padding-left: 0;
        padding-right: 0;
    }
    .collection-item.dynamic {
        padding: 0px;
        border: none;
    }
        .collection-item.dynamic .collapsible {
            margin: 0px;
            border: none;
        }
            .collection-item.dynamic .collapsible .collapsible-header {
                padding-left: 0px;
                padding-right: 0px;
            }
            .collection-item.dynamic .collapsible .collapsible-body {
                padding: 0.5em;
            }
                .dynamic-component-slider {
                    line-height: 35px;
                }
                .collection-item.dynamic .collapsible .collapsible-body .row{
                    margin-bottom: 0px;
                }
                .max-dynamic-component {
                    padding-left: 1.25em;
                    padding-right: 1.25em;
                }

    .power-component .range-field .thumb {
        display: none;
    }

#utilityPowersContainer .range-field .thumb {
    display:  none;
}

#advantagesList {

}
    #advantagesList .collection-item.advantage-power {
        padding: 0px;
    }
    #advantagesList .collection-item .collapsible {
        margin: 0px;
        border: none;
        box-shadow: none;
    }
        #advantagesList .collection-item .collapsible>li {
            position: relative;
        }
            #advantagesList .collection-item.advantage-power {
                border:  none;
            }
            #advantagesList .collection-item.advantage-power .collapsible-header {
                padding-left:  20px;
            }
            #advantagesList .collection-item.advantage-power .collapsible-body {
                padding-top: 0.5em;
                padding-bottom: 0.5em;
            }
            #advantagesList .collection-item.advantage-power li.collection-item {
                padding-left: 0;
                padding-right: 0;
            }
        #advantagesList .collection-item.advantage-power .powerSwitch {
            position: absolute;
            top: 1em;
            right: 0em;
        }

#diceModal {
    
}
    #diceModal h3 {
        font-weight: bold;
    }

    .effects-list {
        margin-top: 0.5em;
    }

/* ------------------------- */

.darker-cyan {
    background-color: #00acc1 !important;
}
.darker-cyan.lighten-3 {
    background-color: #80deea !important;
}
.lever.darker-cyan::after {
    background-color: #00acc1 !important;
}
input[type=range].darker-cyan::-webkit-slider-thumb {
    color: #00acc1;
    background-color: #00acc1;
}

body.maverick {
    font-family: "Titillium Web", sans-serif;
}